@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


body {
    background-color: black;
}
.ticbtn {
    height: 15vh;
    width: 15vh;
    margin: 5px 5px;
    
    background-color: transparent;
    box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    /* color: red !important; */
    font-size: 10vh;
}

.bg-image {
    background-image: url(../Images/old-wooden-.webp);
    height: 70vh;
    width: 70vh;
    margin: auto;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
.row{
    display: flex;
}

h1{
    color: white;
}